.movie_detail__container {
    box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25),
      0 8px 16px -8px rgba(0, 0, 0, 0.3), 0 -6px 16px -6px rgba(0, 0, 0, 0.025);
    padding: 20px;
    border-radius: 5px;
    background-color: white;
    margin: 0 auto;
    margin-top: 100px;
    width: 700px;
    font-weight: 300;
    display: flex;
  }
  
  .movie_detail__img {
    width: 280px;
    margin-right: 20px;
  }

  .movie_detail__data {
    width: 400px;
  }

  .movie_detail__img img {
    /* max-width: 300px; */
    width: 100%;
  }

  .movie_detail__genres {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
    flex-wrap: wrap;
  }

  .movie_detail__genres li {
    margin-right: 10px;
    font-size: 14px; 
    font-weight: bold;
  }

  .movie_detail__summary {
    overflow-y: auto;
    height: 243px;
  }